p{
    word-wrap: break-word;
}

.lowpadding{
padding-left: 5px;
padding-right: 5px;
}

#carouselrowhome {
    margin-top: 20px;
}

.carouselimage {
    width: 100%;
    max-height: 388px;
}

.carousel-inner {
    border: 3px solid black;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.homemininews {
    color: white;
    background-color: #081436;
    padding: 10px;
    border: 3px solid black;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    max-height: 350px;
}

    .homemininews img{
        border: 3px solid black;
    }

    .homemininews h2 {
        text-align: left;
    }

    .homemininews p {
        text-align: justify;
    }

.tophomemininews{
    height: 190px;
    max-height: 190px;
}

.tophomemininews h2{
    margin-top: 0px;
}

.tophomemininewscontainer:last-of-type{
    margin-top: 14px;
}

.homemininews img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.streamlink a {
    text-decoration: none;
}

.streamerhomeicon {
    border: 3px solid black;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #081436;
}

    .streamerhomeicon img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid #ffe00d;
        border-radius: 50px;
        margin-top: 10px;
    }

    .streamerhomeicon p{
        font-weight: bold;
        margin-top: 5px;
        line-height: 10px;
    }

.newshomerow {
    margin-top: 15px;
}

.streamerhomerow{
    margin-top: 15px;
}
