
@{
    ViewBag.Title = "DisplayEmail";
}

<h2>Thank You for registering, a verification code has been sent to your email address. Please verify your account by clicking on that verification code.</h2>

